{% extends 'layout.html'%}
{% block title %}Login{% endblock %} 

{% block content %}
<h1>Login</h1>
<br/>
    
<div class="mb-3">
    <form method="POST">
        {% csrf_token %}

    <div class="mb-3">
     <input type="text" class="form-control" name="username" placeholder="Username">
    </div>

</div>

    <div class="mb-3"> 
        <input type="password" class="form-control" name="password" placeholder="Password">

    </div>
    
    <button class="btn btn-secondary">Login</button>
    <br/>
    <br/>
    <p>Don't have an account? Create one. <a href="{% url 'accounts:signup'%}">Here.</a></p>

{% endblock %}


<!--
    <h1>Login</h1>
    <form class="site-form" action="{% url 'accounts:login'%}" method='post'>
        {% csrf_token %}
        {{form.as_p}}
        {% if request.GET.next %}
            <input type='hidden' name="next" value="{{request.GET.next}}">
        <p>Don't have an account? Create one <a href="{% url 'accounts:signup'%}" >here</a></p>
        {% endif %}
        <button class="btn btn-secondary">Login</button>
    </form>
-->